<!-- search box filter -->
<div class="content" role="main">
  <div class="card">
    <div class="form-group">
      <label for="search-text">Search Text</label>
      <input
        type="email"
        class="form-control"
        id="search-text"
        aria-describedby="search-text"
        [(ngModel)]="searchText"
        placeholder="Enter text to search"
        autofocus
      />
    </div>
    <table style="align-content: center">
      <tr style="font-weight: bolder">
        <td>Year</td>
        <td>Gifter</td>
        <td>Had</td>
        <td>Receiver</td>
        <td>Notes</td>
      </tr>
      <tr *ngFor="let c of grabBagEntries | appFilter : searchText">
        <td>
          {{ c.year }}
        </td>
        <td>
          {{ c.giver.first_name }}
        </td>
        <td>had</td>
        <td>{{ c.receiver.first_name }}</td>
        <td>{{ c.notes }}</td>
      </tr>
    </table>
  </div>
</div>
