.center {
  margin-left: auto;
  margin-right: auto;
}
.content {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.form-group {
  font-size: larger;
  font-family: Tahoma, Geneva, sans-serif;
}
table {
  text-align: center;
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
}
table td {
  padding: 15px;
}
table thead th {
  background-color: #54585d;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  border: 1px solid #54585d;
}
table td {
  border: 1px solid #dddfe1;
}
table tr {
  background-color: #f9fafb;
}
table tr:nth-child(odd) {
  background-color: #ffffff;
}
