<!-- search box filter -->
<div class="content">
  <div class="card">
    <div class="form-group">
      <input
      type="email"
      class="form-control"
      id="search-text"
      aria-describedby="search-text"
      [(ngModel)]="searchText"
      placeholder="Enter text to search"
      autofocus
      />
      <br>
      <label for="search-text">Search by first/last name or year</label>
    </div>
    <br>
    <br>

    <table class="center">
      <tr style="font-weight: bolder">
        <td>Year</td>
        <td>Gifter</td>
        <td>Had</td>
        <td>Receiver</td>
        <td>Notes</td>
      </tr>
      <tr *ngFor="let c of grabBagEntries | appFilter : searchText">
        <td>
          {{ c.year }}
        </td>
        <td>
          {{ c.giver.first_name }}
        </td>
        <td>had</td>
        <td>{{ c.receiver.first_name }}</td>
        <td>{{ c.notes }}</td>
      </tr>
    </table>
  </div>
</div>
